[submodule "gruvbox-contrib"]
	path = gruvbox-contrib
	url = https://github.com/morhetz/gruvbox-contrib
[submodule "gruvbox"]
	path = gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "nerd-fonts"]
	path = nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts
